<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanch.project.global.mapper.SysUserMapper">


    <sql id="selectUserVo">
        select id as userId,dept_code as deptId,`name` as userName,police_code as userNo,phone as phonenumber,
        password,delete_status as delFlag
        from police_info
    </sql>

    <select id="selectUserByUserName" parameterType="java.lang.String" resultType="com.yuanch.common.web.domain.entity.SysUser">
        <include refid="selectUserVo"/>
        where police_code = #{userName}
        and delete_status = 0
    </select>


</mapper>