<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanch.project.mapper.mfw.SuspectMapper">

    <select id="getSuspectList" parameterType="com.yuanch.project.dto.SuspectSearchDTO" resultType="com.yuanch.project.vo.SuspectVO">
        select RYBH as personCode, XM as name, ZJHM as idCard, JSH as roomCode
        from RYJBXXB_KSS RY WHERE RY.RYBJ = 0
        <if test="personCode != null and personCode != ''">
            AND RY.RYBH like '%${personCode}%'
        </if>
        <if test="name != null and name != ''">
            AND RY.XM like '%${name}%'
        </if>
        <if test="idCard != null and idCard != ''">
            AND RY.ZJHM like '%${idCard}%'
        </if>
    </select>




</mapper>