<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanch.project.mapper.komo.PoliceInfoMapper">

    <select id="selectPoliceList" resultType="com.yuanch.project.vo.PoliceInfoVO">
        select p.id, p.name, p.police_code, p.phone, p.dept_code, u.unitname as deptName
        from police_info p left join unit_info u on p.dept_code = u.id and u.delete_status=0
        where p.delete_status=0

            <if test="param.name != null ">
                and p.name like concat('%', #{param.name}, '%')
            </if>
            <if test="param.policeCode != null ">
                and p.police_code like concat('%', #{param.policeCode}, '%')
            </if>
            <if test="param.phone != null ">
                and p.phone like concat('%', #{param.phone}, '%')
            </if>

        order by p.create_time desc
    </select>


</mapper>
