<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanch.project.mapper.komo.UnitInfoMapper">
    <select id="checkExist" resultType="java.lang.Integer">
        select count(1) from unit_info
        where delete_status = 0
        <if test="unitNo!=null and unitNo!=''">
            and unitno =#{unitNo}
        </if>
    </select>
    <select id="getUnitList" resultType="com.yuanch.project.vo.UnitInfoVo">
        SELECT id,parent_unitno,unitno,unitname,fullname
        FROM unit_info
        WHERE delete_status=0
        <if test="unitNo!=null and unitNo!=''">
            and unitno =#{unitNo}
        </if>
        <if test="unitName!=null and unitName!=''">
            and unitname=#{unitName}
        </if>
    </select>
</mapper>