<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanch.project.mapper.komo.VisitMapper">

    <select id="getVisitList" resultType="com.yuanch.project.vo.VisitVO">
        SELECT id as id,name as name ,sex as sex ,nation as nation ,birthday as birthday,
        address as address , id_card as idCard,phone as phone ,relation as relation,
        create_time as createTime, update_time as updateTime, delete_status as deleteStatus, suspect_id as suspectId
        from visit_info vi where delete_status = 0
            and vi.suspect_id = #{param.suspectId}
    </select>

</mapper>